@import '~/styles/charts'

.chat
    background: white
    width: 50%
    margin: 0 auto
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between 
    background-color: $linkBackgroundColor 
