/*
** Font family && style
*/
$font = 'Montserrat'
$fontLight = 300
$fontRegular = 400
$fontBold = 600

/*
** Colors
*/
$lightFontColor = #F2E2D2
$darkFontColor = black

$homeBackgroundColor = linear-gradient(45deg, #46B1C9 0%, #84C0C6 100%);
$chatRoomBackgroundColor = linear-gradient(45deg, #46B1C9 0%, #84C0C6 100%);

$emitMessageBackgroundColor = #84C0C6
$recipMessageBackgroundColor = #46B1C9

$linkBackgroundColor = #F2E2D2