/*
** Font family && style
*/
$font = 'Montserrat'
$fontLight = 300
$fontRegular = 400
$fontBold = 600

/*
** Colors
*/
$fontColor = black

$bodyBackgroundColor = #BCC1BA
$chatRoomBackgroundColor = #F2E2D2

$backgroundColorOfEmitMessage = #84C0C6
$backgroundColorOfRecipMessage = #46B1C9
