@import '~/styles/charts'

.message
    margin: 3rem 0.5rem
    max-width 50%
    display: flex
    flex-direction: column
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    &-username
        font-style italic
        font-size .7em
    &-text
        margin 1rem
        border-radius: 30px
        padding: 0.6rem 1rem
        width: auto
        word-wrap: break-word




@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
